# PYTHON PROGRAMMING

### Python is a High-level ,general purpose programming language and it is highly used at Big Tech Companys like Google, Microsoft, Infosys,Apple,etc

In [6]:
print("Hello world")

Hello world

In [3]:
print("12345")

12345

### Variables

In [42]:
# variable are used to store the Data

In [4]:
var = "Welcome to world of Data and Science"
print(var)

Welcome to world of Data and Science

In [5]:
var1 = "12345678"
print()

In [ ]:
# type define the Datatype

In [7]:
print(type(var1))

<class 'str'>

In [8]:
var2 = 25
print(var2)

25

In [9]:
print(type(var2))

<class 'int'>

In [46]:
# variable are used for simple calculation 
v1 = 29
v2 = 5 
print(v1+v2)     # Addition 
print(v1-v2)     # Substraction 
print(v1*v2)    # Multiplication 
print(v1//v2)   # division 
print(v1%v2)    # reminder

34
24
145
5
4

In [48]:
# we can multiply the int and string etc
var_1 = 34
print(var_1*3)

102

In [50]:
var_2 = "Hello"
print(var_2*5)

HelloHelloHelloHelloHello

In [31]:
# len define the length of the given Data

In [39]:
len("Hello world")

11

In [41]:
# The len function will also count space so, avoid space

In [40]:
len("Helloworld")

10

# Data Type

1.  Integer
2.  Float
3.  Complex
4.  List
5.  Set
6.  Tuple
7.  Dictionary
8.  Boolen
9.  Bytes, Bytearray,etc

In [14]:
# This represent Comment.
# After writing anything after the comments will not be runed and as same.

In [1]:
# Integer

In [2]:
a = 25
print(a)

25

In [4]:
print(type(a))

<class 'int'>

In [8]:
# Float

In [6]:
b= 2.5
print(b)

2.5

In [7]:
print(type(b))

<class 'float'>

In [9]:
# complex

In [10]:
c = 8 + 10j
print(c)

(8+10j)

In [11]:
print(type(c))

<class 'complex'>

In [23]:
# we can change float to int ,int to float .

In [24]:
# float to int

In [20]:
x= 25.677
print(x)

25.677

In [22]:
print(type(x))

<class 'float'>

In [17]:
y= int(x)

In [21]:
print(y)
print(type(y))

25
<class 'int'>

In [25]:
# int to float

In [28]:
print(y)
print(type(y))

25
<class 'int'>

In [27]:
z = float(y)
print(z)

25.0

In [29]:
print(type(z))

<class 'float'>