# FIRST PYTHON PROGAMMING LANGUAGE

In [4]:
print("hello world")

hello world

In [2]:
var=44             # integer
print(type(var))

<class 'int'>

In [1]:
var1=3.5           # float
print(type(var1))

<class 'float'>

In [3]:
var2=True           # Boolean
print(type(var2))

<class 'bool'>

In [4]:
var3="string variable"  # variable
print(type(var3))

<class 'str'>

In [ ]:
#variables

In [1]:
 var=55
print(var)

55

# TYPES OF DATA

# NUMBERS

In [9]:
3

3

In [10]:
print("3")

3

In [11]:
A=55
print(A)

55

In [12]:
B=4,66
print(B)

(4, 66)

In [13]:
print(type(A))

<class 'int'>

In [14]:
print(type(B))

<class 'tuple'>

### Basic Arithmetic Operations

In [15]:
a=5
b=2.7
print(a+b)

7.7

In [16]:
c=a+b
print(c)

7.7

In [18]:
t=1.5
s=7
voot_kids=(t*s) # division

In [19]:
print(voot_kids)

10.5

In [21]:
p=7
q=3
print(p/q)    # division
print(p*q)    # multiplication
print(p**q)   # Power value or square root
print(p+q)    # addition
print(p-q)    # substraction

2.3333333333333335
21
343
10
4

#### Complex

In [24]:
comp=4+2j       #  number
print(type(comp))

<class 'complex'>

In [25]:
comp1=4+8j     # arithmetic
print(comp+comp1)
print(comp-comp1)

(8+10j)
-6j

### Boolean

In [27]:
print(type(True))

<class 'bool'>

In [28]:
print(type(False))

<class 'bool'>

### Strings

In [35]:
str1="Welcome you all for "
print(str1)
print(type(str1))

Welcome you all for
<class 'str'>

In [34]:
print(str1[0])
print(str1[1])
print(str1[2])
print(str1[3])
print(str1[4])
print(str1[5])
print(str1[6])

W
e
l
c
o
m
e

In [37]:
str2 ="world of data and science"
print(str1+str2)

Welcome you all for world of data and science

### Logical operations


#### AND logical operations

In [6]:
  
# o*o=o
# 1*O=o
# o*1=o
# 1*1=1

#And gate in python

str0=True
str1=False
print(str0 and str1)

str2=True 
str3=True
print(str2 and str3)

str4=False
str5=True
print(str4 and str5)

str6=False
str7=True
print(str6 and str7)

False
True
False
False

### OR Logical operations

In [7]:



str0=False
str1=True
print(str0 or str1)


str2=False
str3=False
print(str2 or str3)



str4=True
str5=False
print(str4 or str5)


str6=True
str7=True
print(str6 or str7)

True
False
True
True

### NOT Logical Operations

In [10]:
str8=True 
str9=True
result=str8 and str9
print(result)

True

In [13]:

print(not result)

False

## Lists

In [14]:
list1=["india","japan","china","Usa"]
print(type(list1))

<class 'list'>

In [20]:
print(list1[0])

india

In [24]:
print(list1)

['india', 'japan', 'china', 'Usa']

In [25]:
list2=list1[0:2]
print(list2)

['india', 'japan']

In [26]:
list3=list1[0:3]                 #  #
print(list3)

['india', 'japan', 'china']

In [38]:
print(list1[::-1])     #  :: - used for revers in ML

['Usa', 'japan', 'india']

In [34]:
list1.remove("china")      # Remove
print(list1)

['india', 'japan', 'Usa']

In [35]:
list1=["india","japan","china","Usa"]    #pop=remove
list1.pop(2)
print(list1)

['india', 'japan', 'Usa']

In [10]:
print(list1[2:])              # finding world by number

['china', 'pakisthan', 'Usa', 'africa']

In [41]:
print(list1[::-1])      #revers form

['Usa', 'japan', 'india']

In [42]:
list1.remove("Usa")   #removing words
print(list1)

['india', 'japan']

In [3]:
list1=["india","japan","china","Usa"]
print(list1)

['india', 'japan', 'china', 'Usa']

In [4]:
list1.append("africa")    #append means ADD
print(list1)

['india', 'japan', 'china', 'Usa', 'africa']

In [5]:
list1.insert(3,"pakisthan")        #insert means replacing word with another word
print(list1)

['india', 'japan', 'china', 'pakisthan', 'Usa', 'africa']

###  Tuples

In [6]:
tuple1=("circket","ball","bat","ground")   # more words 
print(tuple1)
print(type(tuple1))

('circket', 'ball', 'bat', 'ground')
<class 'tuple'>

### Dictionary

In [11]:
d1={"red":"green","white":"black"}      # like related or Oppoites words
print(d1)
print(type(d1))

{'red': 'green', 'white': 'black'}
<class 'dict'>

In [6]:
print(d1["red"])        # compairable words

green

In [8]:
print(d1["white"])

black

### Sets

In [10]:
s1={1,2,3,4,5,6,7,7,}
print(s1)
print(type(s1))

{1, 2, 3, 4, 5, 6, 7}
<class 'set'>

In [12]:
s2={2,2,2,2,3,3,3,4,4,4,4,6,6,7,9,8}    # duplicate words not repete
print(s2)

{2, 3, 4, 6, 7, 8, 9}

## Comparision Operators

In [13]:
x=4                  ###  < lessthan
y=22                 ###  > greaterthan
print(x>y)           ###  ==  equal

False

In [14]:
print(y>x)    # > greater

True

In [17]:
p=10          # ==  equal
q=10
print(p==q)

True

In [18]:
z=22           
print(y==z)

True

In [19]:
print(x==z)

False

In [20]:
print(x!=y)           ### !=  Notequal

True

In [21]:
print(y>=x)           ### >=  greaterthan and equal

True

In [22]:
print(y<=x)           ###  <=  lessthan and equal

False

In [24]:
# x+y*z           should be written as
print((x+y)*z)

572

In [25]:
# x*y+z  should be written as
print((x*y)+z)

110

## Conditional statement

## If - Else statements

In [28]:
var6=5
if var6>0:
    print("Number is Positive")
elif var6<0:
    print("Number is Negative")
else :
    print("Number is Zero")

Number is Positive

In [29]:
var0=0
if var0>0:
    print("Number is Positive")
elif var0<0:
    print("Number is Negative")
else :
    print("Number is Zero")

Number is Zero

In [31]:
var6=1
if var0>0:
    print("Number is Positive")
elif var0<0:
    print("Number is Negative")
else :
    print("Number is Zero")

Number is Zero

In [4]:
var10=1
if var10<0:
    print("Number is Positive")
elif var10>0:
    print("Number is Negative")
else :
    print("Number is Zero")

Number is Negative

### Ternary Operators

In [38]:
sum1=5
sum2=10
minimum=sum1  if sum1<sum2 else sum2
print(minimum)

5

In [39]:
sum1=1
sum2=5
minimum=sum1  if sum1>sum2 else sum2
print(minimum)

5

In [41]:
sum1=10
sum2=5
minimum=sum1  if sum1>sum2 else sum2
print(minimum)

10

In [3]:
sum1=10
sum2=5
maximum=sum1  if sum1>sum2 else sum2
print(maximum)

10

## Loops

### while loop

In [4]:
i=10
while i>0:
    i-=3
    print('*')
if i<=4:
        break
else:
  print('*')

*
*
*
*

SyntaxError: 'break' outside loop (<ipython-input-4-0028990b6a80>, line 6)

## For Loop

In [6]:
vehicals=["Bike","Car","aeroplane","Auto"]
for x in vehicals :
 print(x)

Bike
Car
aeroplane
Auto

In [7]:
bike=["K","A","07","J","8773"]
for y in bike :
    print(y)

K
A
07
J
8773

In [8]:
for y in bike :
    if  y!="8773":
        print(y)

K
A
07
J

# Control Statement

## Continue

In [15]:
for x in  vehicals :                    ### remove = [==] 
    if x == "aeroplane" :continue
    print(x)

Bike
Car
Auto

## BREAK

In [18]:
for y in bike:                       # break function helps to break key
    if y == "8773" : break
    print(y)

K
A
07
J

In [13]:
car=["wheels","break","accelator","hand break"]
for z in car:
    print(z)

wheels
break
accelator
hand break

In [21]:
for z in car :
    if z == "accelator" : break
    print(z)

wheels
break



## LOOP - RANGE

In [21]:
for x in range(9) :
   print(x)

0
1
2
3
4
5
6
7
8

In [22]:
for x in range(2,6):
    print(x)

2
3
4
5

In [26]:
for x in range(2,6,3) :
    print(x)

2
5

In [27]:
for y in range (6,7,8) :
    print(y)

6

# FUNCTIONS

In [28]:
 #  syntax of function
 # def function_name(param1,param2,..) :
 #      statement(s)

# FUNCTION TO MULTIPLY 2 NUMBER

In [30]:
def multiply (num1 ,num2):        # local variables
    """
    Accepts 2 parameters and returns product
    """
    return num1*num2
result = multiply (4,4)
print(result)

16

In [33]:
print(multiply.__doc__)

    Accepts 2 parameters and returns product

## Scope and Lifetime of variable

In [36]:
def function1 ():
    new1=6
  print(new1)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [41]:
vari1=2
def function2():
    print(vari1)
function2()

2

In [43]:
vari1=2
def function2():
    vari1=vari1+5
    print(vari1)
function2()

UnboundLocalError: local variable 'vari1' referenced before assignment

In [44]:
# to slve this we use global variable
global vari1
vari1=2
def function2():
    global vari1
    vari1=vari1+5
    print(vari1)
function2()

7

In [45]:
print(vari1)

7

# Lambda Function"

In [46]:
# defined using lamda keword
# can have one or more Expresstion
# can have multiple arguments

## syntax of Lambda function

In [47]:
# lambda  argument : expression

# Lambda Function to Double a Number

In [49]:
double=lambda y:y*3
print(double(22.55))

67.65

# Another Example of lambda function

In [2]:
def func(n):
    return lambda a:a*n
 
doubler=func(2)
tripler=func(3)

print(doubler(10))
print(tripler(10))

20
30

In [3]:
def func(n):
    return lambda a:a**n
                            # def func is like = squareroot and multipecation
doubler=func(4)
tripler=func(6)

print(doubler(20))
print(tripler(20))

160000
64000000

# MODULES

In [6]:
# simplicity
# maintaiabiltiy
# coordination on different moudules
# reusableability
# python has more Modules
# Mode of file  is in form as (.py)

## Math  Module

In [7]:
import math  # to import math module

## using math Modules

In [8]:
print(math.pi)

3.141592653589793

In [9]:
print(math.pi/180)

0.017453292519943295

# Math module we can convert RADIAN TO DEGREE

In [12]:
math.degrees(math.pi/2)    # radian to degree

90.0

In [13]:
math.degrees(math.pi/3)

59.99999999999999

In [19]:
math.degrees(math.pi/1)

180.0

In [20]:
math.sqrt(4)

2.0

In [21]:
math.sqrt(60)

7.745966692414834

In [22]:
math.sqrt(2)

1.4142135623730951

In [23]:
math.sqrt(36)     # function (sqrt - squareroot)

6.0

# import function from Math module

In [24]:
from math import sqrt   # by using import sqrt in math module can re code directly

In [25]:
sqrt (444)             # like this only sqrt( Not all like math.sqrt )

21.071307505705477

In [26]:
sqrt(144)

12.0

## smilarly as per above we can import pi also

In [27]:
from math import pi

In [30]:
pi

3.141592653589793

In [29]:
pi*2

6.283185307179586

In [31]:
pi/180

0.017453292519943295

In [32]:
pi/90

0.03490658503988659

## Similarly as above we can use import for all function like (*)

In [33]:
from math import *

In [34]:
3*2

6

In [35]:
44*4

176

In [36]:
150*2

300

In [37]:
3.45*4

13.8

# Import an new custom module by using Python

In [51]:
import custom

ModuleNotFoundError: No module named 'custom'

In [48]:
print(custom.var)

NameError: name 'custom' is not defined

# PACKAGES

In [52]:
                                  #Test_package
    #module_1.py     #module_2.py     #module_3.py        #_init_.py

In [54]:
                          # PYTHON PACKAGES
#Matplotlib 
#Numpy
#open Cv
#etc

In [56]:
# GUI - Graphical  User Interface

In [57]:
# Tkinter GUI is famous library

In [5]:
# len function used for counting key words

x ="Welcome to Hexnbit Let's start learning Python"

print(len(x))

46

In [24]:

# If STATEMENT

num=input("enter a number: ")
num=int(num)
if num%2==0 :
    print("number in even")
else:
        print("number is odd")

number is odd

In [25]:
3>2 and 4<1

False

In [26]:
3<2 or 4<1

False

In [27]:
not True

False

In [28]:
not False

True

In [29]:
not 4==4

False

In [30]:
indian=["samosa","daal","naan"]
print(indian)

['samosa', 'daal', 'naan']

In [31]:
indian=["samosa","daal","naan"]
Japan=["faltu","mung dal","egg rice"]
china=["egg","pig","corona","fish"]

dish=input("enter a dish name: ")
if dish in indian:
    print("iam an Indian ,I love my country")

enter a dish name: samosa
iam an Indian ,I love my country

In [36]:
base=10
height=5
area=1/2 *(base*height)
print(area)

25.0

In [1]:
pip install numpy

Requirement already satisfied: numpy in c:\users\vishn\anaconda3\lib\site-packages (1.19.2)Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np

In [16]:
a = np.array([1,2,3,5,5,5,6,67,7])

b = np.array

In [13]:
a

array([ 1,  2,  3,  5,  5,  5,  6, 67,  7])

In [14]:
a.shape

(9,)

In [1]:
num =int(input())

if num%2 == 0:
    print("The entered element is even ")
else:
    print("The entered element is odd ")

56
The entered element is even

In [40]:
mnu = [23 ,45, 68, 78]

In [44]:
even_num =0
odd_num =0

for i in mnu:
    if i%2==0:
        i=i+1
        even_num = even_num+1
    else:
        i= i+1
        odd_num =  odd_num+1

In [45]:
print(odd_num)

2

In [46]:
print(even_num)

2

In [11]:
list2 =[-1,-3,4,7,99,8,3]

In [16]:
[i for i in list2 if i > 0]

[4, 7, 99, 8, 3]

In [19]:
list3 = ["I","Love","you"]
[word[0] for word in list3]

['I', 'L', 'y']

In [21]:
for word in list3:
    print(word[0])

I
L
y

In [23]:
cel_temp =[0,10,20,30,40,50]
for temp in cel_temp :
    print((9/5)*temp+32)

32.0
50.0
68.0
86.0
104.0
122.0

In [24]:
[(9/5)*temp+32 for temp in cel_temp]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [25]:
list = [[1,2,3],[4,5,6],[7,8,9]]

In [35]:
for i in list:
    for j in i :
        print(j)
[i for j in list for i in j]

1
2
3
4
5
6
7
8
9

[1, 2, 3, 4, 5, 6, 7, 8, 9]